In [1]:
#import kagglehub

# Download latest version
path = kagglehub.dataset_download("wordsforthewise/lending-club")

#print("Path to dataset files:", path)

/Users/muhammadshahzebali/myenv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/wordsforthewise/lending-club?dataset_version_number=3...

100%|██████████████████████████████████████| 1.26G/1.26G [00:15<00:00, 87.4MB/s]

Extracting files...

Path to dataset files: /Users/muhammadshahzebali/.cache/kagglehub/datasets/wordsforthewise/lending-club/versions/3

In [10]:
import pandas as pd
import os

# Base path where data is downloaded
path = "/Users/muhammadshahzebali/.cache/kagglehub/datasets/wordsforthewise/lending-club/versions/3"
print(os.listdir(path))

['rejected_2007_to_2018q4.csv', 'accepted_2007_to_2018q4.csv', 'rejected_2007_to_2018Q4.csv.gz', 'accepted_2007_to_2018Q4.csv.gz']

In [12]:
accepted_path = os.path.join(path, 'accepted_2007_to_2018Q4.csv.gz')
rejected_path = os.path.join(path, 'rejected_2007_to_2018Q4.csv.gz')

import pandas as pd

accepted_df = pd.read_csv(accepted_path, low_memory=False)
rejected_df = pd.read_csv(rejected_path, low_memory=False)

In [15]:
rejected_df.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0